/* blogList */
.table .column-small {
  width: 50px;
}

/* assetList */
.asset-thumbnail {
  text-align: center;
}

.asset-thumbnail img{
  height: 90px;
}

.asset-folder {
  cursor: pointer;
}

.asset-folder .fa {
  margin-top: 40px;
  font-size: 50px;
  color: #666;
}

.asset-upload {
  border: dashed 1px green;
}

.asset-upload.hover {
  background: lightgreen;
}

.asset-upload.hover-error {
  background: indianred;
}

.asset-upload .fa {
  color: green;
  margin-top: 27px;
}

.breadcrumb li {
  margin-right: 4px;
}

/* blogEdit */
.keywords-add-container {
  float: right;
  margin-right: 14px;
  margin-top: 4px;
}

.keywords-add-container i {
  margin-left: 6px;
}

/* bootstrap modal scroll */
.modal-dialog{
  overflow-y: initial !important
}

.modal-body{
  height: 250px;
  overflow-y: auto;
}

.modal-body .thumbnail {
  cursor: pointer;
}

.modal-body .thumbnail img {
  height: 102px;
}