
<form action="/bin/editblogpost" method="post" enctype="multipart/form-data">

  <div>
    <label>
      Title
      <input type="text" name="title">
    </label>
  </div>

  <div>
    <label>
      Date
      <select name="month">
        <option>01</option>
        <option>02</option>
        <option>03</option>
      </select>

      <select name="year">
        <option>2015</option>
        <option>2016</option>
        <option>2017</option>
      </select>
    </label>
  </div>

  <div>
    <label>
      Friendly URL
      <input type="text" name="url">
    </label>
  </div>

  <div>
    <label>
      Show blog
      <input type="checkbox" name="visible" value="true">
    </label>
  </div>

  <div>
    <label>
      Keywords
      <input type="text" name="keywords">
      <input type="text" name="keywords">
      <input type="text" name="keywords">
      ToDo: Add +/- functionality.
    </label>
  </div>

  <div>
    <label>
      Image
      <input type="file" name="image">
    </label>
  </div>

  <div>
    <label>
      Content
      <textarea name="content"></textarea>
    </label>
  </div>

  <div>
    <input type="submit" value="Save">
  </div>

</form>