<div data-sly-use.blog="com.nateyolles.sling.publick.components.admin.BlogEdit" data-sly-unwrap></div>

<form action="/bin/editblogpost" method="post" enctype="multipart/form-data">

  <div>
    <label>
      Title
      <input type="text" name="title" data-sly-attribute.value="${blog.title}">
    </label>
  </div>

  <div>
    <label>
      Month
      <select name="month" data-sly-list="${blog.months}">
        <option data-sly-attribute.selected="${blog.month == item}">${item}</option>
      </select>

      Year
      <select name="year" data-sly-list="${blog.years}">
        <option data-sly-attribute.selected="${blog.year == item}">${item}</option>
      </select>
    </label>
  </div>

  <div>
    <label>
      Friendly URL
      <input type="text" name="url" data-sly-attribute.value="${blog.url}">
    </label>
  </div>

  <div>
    <label>
      Show blog
      <input type="checkbox" name="visible" value="true" data-sly-attribute.checked="${blog.visible}">
    </label>
  </div>

  <div>
    <label>
      Keywords
      <div data-sly-test.hasKeywords="${blog.keywords && blog.keywords.length > 0}" data-sly-list="${blog.keywords}" data-sly-unwrap>
        <input type="text" name="keywords" data-sly-attribute.value="${item}">
      </div>
      <div data-sly-test="${!hasKeywords}" data-sly-unwrap>
        <input type="text" name="keywords">
      </div>
      ToDo: Add +/- functionality.
    </label>
  </div>

  <div>
    <label>
      Image
      <input type="file" name="image">
    </label>
  </div>

  <div>
    <label>
      Content
      <textarea name="content">${blog.content}</textarea>
    </label>
  </div>

  <div>
    <input type="submit" value="Save">
  </div>

</form>